/* STILI GENERALI */
.az_bg-green {
    background-color: #1abc9c;
    color: white;
}

#portfolio, #contact {
    background-color: white;
    color: #2c3e50;
}

#footer {
    background-color: #2c3e50;
    color: white;
}

section, #footer {
    padding-top: 50px;
    padding-bottom: 50px;
}

h1 {
    font-size: 3em;
    font-weight: 700;
}

h2 {
    font-size: 2.75em;
    font-weight: 700;
}

h4 {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 1em;
}

.fa-star {
    font-size: 2.75rem;
    margin: 0 1rem;
}

.az_star::before,
.az_star::after {
  content: '';
  width: 18%;
  height: 3.5px;
  border-radius: 1px;
  display: inline-block;
  position: relative;
  bottom: 10px;
}

#banner .az_star::before,
#banner .az_star::after,
#about .az_star::before,
#about .az_star::after {
    background-color: white;
}

#portfolio .az_star::before,
#portfolio .az_star::after,
#contact .az_star::before,
#contact .az_star::after {
    background-color: #2c3e50;
}

p {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.az_star {
    margin: 20px 0;
}

/* NAVBAR */
.az_navbar {
    background-color: #2c3e50;
    font-weight: 700;
    border: none;
    padding: 1em 0;
}

.az_navbar a.navbar-brand,
.az_navbar .nav li a {
    color: white;
}

.az_navbar .nav li a:hover {
    color: #1abc9c;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
    width: 12.5px;
    height: 0.15em;
}

.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 2px;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-default .navbar-toggle:hover {
    background-color: #148f77;
}

.navbar-default .navbar-brand:hover {
    color: white;
}

.navbar-header button::before {
    content: 'MENU';
    display: inline-block;
    color: white;
}

.az_hamburger {
    display: inline-block;
}

.navbar-header button {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0.8em;
    border-radius: 0.5em;
    line-height: 25px;
    background-color: #1abc9c;
}

/* BANNER */
#banner {
    margin-top: 50px;
    padding-top: calc(50px + 74px);
}

#banner img {
    width: 100%;
    max-width: 15em;
}

/* PORTFOLIO */
.az_portfolio-img {
    position: relative;
}

.az_portfolio-overlay {
    display: none;
}

.az_portfolio-img:hover .az_portfolio-overlay {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 188, 156, 0.9);
}

.az_portfolio-overlay span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 70px;
  color: white;
}

#portfolio img {
    width: 100%;
    /* max-width: 400px; */
    margin-top: 15px;
    margin-bottom: 15px;
}

/* ABOUT */
#about .m-download {
    margin-top: 1.5em;
}

.btn-download {
    color: white;
    border: 0.125em solid white;
}

.btn-download:hover {
    color: #212529;
    background-color: #f8f9fa;
}

#about a i {
    font-size: 1em;
}

/* CONTACT - FORM */
.form-group:not(:last-child) {
    border-bottom: 1px solid #e9ecef;
    padding: 25px 0;
}

.form-control {
    padding-left: 0;
    padding-right: 0;
    font-size: 1.5em;
    color: #2c3e50;
}

.borderless {
    border: none;
    box-shadow: none;
}

#send-message-btn {
    padding: 1em 1.75em;
    font-size: 1.25em;
    border-radius: 0.5em;
    border: none;
    background-color: #1abc9c;
}

#send-message-btn:hover {
    background-color: #148f77;
}

/* FOOTER */
#footer .m-foot {
    margin-bottom: 3em;
}

#footer p {
    margin: 0;
}

.btn-social {
    width: 2.5em;
    height: 2.5em;
    font-size: 20px;
    line-height: 1.75;
    margin: 0 0.2em;
    color: white;
    border: 2px solid white;
    border-radius: 100%;
}

.btn-social:hover {
    color: #212529;
    background-color: white;
}

#footer p a {
    color: #1abc9c;
}

#footer p a:hover {
    color: #117964;
}

/* COPYRIGHT */
.az_copyright {
    background-color: #1a252f;
    color: white;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}
